<div class="slide-container">
    <div class="top-nav">
        <ul class="nav ">
            <li class="nav-item top-nav-item">
                BEAUTY SALON
            </li>
            <li class="nav-item top-nav-item">
                4th block, New York City
                <p>Get more info</p>
            </li>
            <li class="nav-item top-nav-item">
                +0 111 222 333 <i class="fa fa-phone"></i>
                <p>info@example.com <i style="color:white !important;" class="fa fa-envelope"></i></p>
            </li>
        </ul>
        <nav class="navbar  top-nav-collapse navbar-toggleable-md navbar-expand-lg navbar-dark">
            <button (click)="toggleCollapse()" style="border:1px solid #FFCC56; margin:0 auto" class="navbar-toggler text-center" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="show">
                <ul class="navbar-nav mr-auto second-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">Pages</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="cont">
            <ul class="control">
                <li class="controls ml-3"></li>
                <li class="controls ml-3"></li>
                <li class="controls ml-3"></li>
            </ul>
        </div>
    </div>
    <div class="slider">

        <div class="slide intro-2">
            <!-- <img src="../../assets/images/22.jpg" class="img-fluid"> -->
            <div class="caption">
                <p class="mb-2">Experienced hair stylist </p>
                <h2 class="mb-2 display-4 h2-responsive">Enjoy Professional Beauty Services!</h2>
                <p class="mb-0">Providing expert skin care advice &amp; beauty services using natural products to cater for any skin</p>
                <a type="button" class="btn btn-yello waves-light ml-0" mdbRippleRadius>Contact Now</a>

            </div>
        </div>
        <div class="slide intro-3">
            <!-- <img src="../../assets/images/11.jpg"> -->


        </div>
        <div class="slide intro-4">
            <!-- <img src="../../assets/images/33.jpg"> -->

        </div>
    </div>
</div>
<section class="pt-5 views">
    <h1 class="text-center pt-5 mb-0"><span class="bold">Our </span>Services</h1>
    <hr class="line">
    <p class="text-center margin">
        Treat yourself to a facial or celebrating a special occasion, aromatherapy, our beauty</p>
    <p class="text-center mb-5"> and skin care services will suit every beauty need.</p>
    <div class="container imag">
        <div class="row no-gutters mb-5">
            <div class="back col-lg-3 col-md-6">
                <img src="../../assets/images/2.jpg" alt="">
            </div>
            <div class="back1 col-lg-3 col-md-6">
                <div style="height:100%; max-width:100%; " class="container pt-4 pl-5 pr-5">
                    <h1 class="text-left bold pb-3">FACIAL </h1>
                    <h4 style="color:white;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam veritatis est quas commodi repellat magnam animi sint laudantium odio, cimus?</h4>
                </div>
            </div>
            <div class="back2 col-lg-3 col-md-6">
                <img src="../../assets/images/4.jpg" alt="">
            </div>
            <div class="back3 col-lg-3 col-md-6">
                <div style="height:100%; max-width:100%; " class="container pt-4 pl-5 pr-5">
                    <h1 class="text-left bold pb-3">MAKEUP </h1>
                    <h4 style="color:white;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam veritatis est quas commodi repellat magnam animi sint laudantium odio, cimus?</h4>
                </div>
            </div>
            <div class="back4 col-lg-3 col-md-6">
                <div style="height:100%; max-width:100%; " class="container pt-4 pl-5 pr-5">
                    <h1 class="text-left bold pb-3">NAIL CARE </h1>
                    <h4 style="color:white;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam veritatis est quas commodi repellat magnam animi sint laudantium odio, cimus?</h4>
                </div>
            </div>
            <div class="back5 col-lg-3 col-md-6">
                <img src="../../assets/images/1.jpg" alt="">
            </div>
            <div class="back6 col-lg-3 col-md-6">
                <div style="height:100%; max-width:100%; " class="container pt-4 pl-5 pr-5">
                    <h1 class="text-left bold pb-3">HAIR CARE </h1>
                    <h4 style="color:white;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam veritatis est quas commodi repellat magnam animi sint laudantium odio, cimus?</h4>
                </div>
            </div>
            <div class="back7 col-lg-3 col-md-6">
                <img src="../../assets/images/5.jpg" alt="">
            </div>
        </div>

    </div>
</section>
<section class="bg-img container">
    <div class="text-center pt-5">
        <h1 class="pb-4">Lorem ipsum dolor sit amet consectetur. </h1>
        <hr>
        <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, quia dolores. in nobis libero dignissimos veniam.</p>
        <p class="mb-5"> aut aliquam nam corrupti consectetur odio doloribus cum!</p>
        <a type="button" class="btn btn-yello waves-light ml-0 mt-4" mdbRippleRadius>About Us</a>
    </div>
</section>
<section class="container">

    <h1 class="text-center pt-5 mb-0"><span class="bold">Packages </span>Pricing</h1>
    <hr class="line">
    <p class="text-center margin">
        Treat yourself to a facial or celebrating a special occasion, aromatherapy, our beauty</p>
    <p class="text-center mb-5"> and skin care services will suit every beauty need.</p>
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card text-center">

                <!--Card image-->

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title bold text-center pt-3 pb-3">Basic</h4>
                    <hr style="width:90%;" class="line">
                    <!--Text-->
                    <p class="card-text pb-2 pt-3">Hair Extension</p>
                    <p class="card-text pb-2">Makeup Application</p>
                    <p class="card-text pb-2">Facials</p>
                    <p class="card-text pb-2">Nails</p>
                    <p class="card-text pb-2">Styling</p>
                    <h1 class="text-center pt-3 mb-0 bold color pb-3">200<sup>$</sup></h1>


                    <a type="button" class="btn btn-yello waves-light ml-0" mdbRippleRadius>Contact Now</a>
                </div>

            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card text-center">

                <!--Card image-->

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title bold text-center pt-3 pb-3">Classic</h4>
                    <hr style="width:90%;" class="line">
                    <!--Text-->
                    <p class="card-text pb-2 pt-3">Hair Extension</p>
                    <p class="card-text pb-2">Makeup Application</p>
                    <p class="card-text pb-2">Facials</p>
                    <p class="card-text pb-2">Nails</p>
                    <p class="card-text pb-2">Styling</p>
                    <h1 class="text-center pt-3 mb-0 bold color pb-3">350<sup>$</sup></h1>


                    <a type="button" class="btn btn-yello waves-light ml-0" mdbRippleRadius>Contact Now</a>
                </div>

            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card text-center">

                <!--Card image-->

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title bold text-center pt-3 pb-3">Gold</h4>
                    <hr style="width:90%;" class="line">
                    <!--Text-->
                    <p class="card-text pb-2 pt-3">Hair Extension</p>
                    <p class="card-text pb-2">Makeup Application</p>
                    <p class="card-text pb-2">Facials</p>
                    <p class="card-text pb-2">Nails</p>
                    <p class="card-text pb-2">Styling</p>
                    <h1 class="text-center pt-3 mb-0 bold color pb-3">500<sup>$</sup></h1>


                    <a type="button" class="btn btn-yello waves-light ml-0" mdbRippleRadius>Contact Now</a>
                </div>

            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card text-center">

                <!--Card image-->

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title bold text-center pt-3 pb-3">Platinum</h4>
                    <hr style="width:90%;" class="line">
                    <!--Text-->
                    <p class="card-text pb-2 pt-3">Hair Extension</p>
                    <p class="card-text pb-2">Makeup Application</p>
                    <p class="card-text pb-2">Facials</p>
                    <p class="card-text pb-2">Nails</p>
                    <p class="card-text pb-2">Styling</p>
                    <h1 class="text-center pt-3 mb-0 bold color pb-3">800<sup>$</sup></h1>


                    <a type="button" class="btn btn-yello waves-light ml-0" mdbRippleRadius>Contact Now</a>
                </div>

            </div>
        </div>
    </div>

</section>
<section class="bg-img2 pt-5">
    <h1 class="text-center pt-5 "><span class="bold">Our </span>Statistics</h1>
    <hr class="line">
    <p class="text-center margin">
        Treat yourself to a facial or celebrating a special occasion, aromatherapy, our beauty</p>
    <p class="text-center mb-5"> and skin care services will suit every beauty need.</p>
    <div class="pt-5 container">
        <div class="row pl-5 pr-5">
            <div class="col-lg-3 mb-3">
                <div class="card  card-color">
                    <div class="card-body">
                        <h1 class="card-title bold  pt-3 pb-3"><i class="fa fa-lg fa-cog color pl-5"></i> <span style="padding-left:50px;">167</span></h1>
                        <h4 class="card-title bold text-center color pt-3">SERVICES</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card  card-color">
                    <div class="card-body">
                        <h1 class="card-title bold  pt-3 pb-3"><i class="fa fa-lg fa-user color pl-5"></i> <span style="padding-left:50px;">280</span></h1>
                        <h4 class="card-title bold text-center color pt-3">HAPPY CLIENTS</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card  card-color">
                    <div class="card-body text-center">
                        <h1 class="card-title bold   pt-3 pb-3"><i class="fa fa-lg fa-thumbs-up color pl-5"></i> <span style="padding-left:50px;">224</span></h1>
                        <h4 class="card-title bold text-center color pt-3">PEOPLE LOVED</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card  card-color">
                    <div class="card-body">
                        <h1 class="card-title bold  pt-3 pb-3"><i class="fa fa-lg fa-trophy color pl-5"></i> <span style="padding-left:50px;">121</span></h1>
                        <h4 class="card-title bold text-center color pt-3">WIN AWARDS</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container pt-5 height">
    <h1 class="text-center pt-5 mb-0"><span class="bold">What </span>People Say</h1>
    <hr class="line">
    <p class="text-center margin">
        Treat yourself to a facial or celebrating a special occasion, aromatherapy, our beauty</p>
    <p class="text-center mb-5"> and skin care services will suit every beauty need.</p>
    <div style="height:50%;" class="row">
        <div class="col-lg-6 mb-3  ">
            <div class="testimonial pt-5">
                <h2 class="text-center color">John Smith</h2>
                <p class="text-center ">Lorem Ipsum</p>
                <img class="thumb" src="../../assets/images/c1.jpg" alt="testimonial">
                <blockquote class=" text-center">
                    <span>&lsquo;&lsquo;</span>Lorem ipsum dolor sit amet, nec tempus mi? Curabitur id nisl mi, ut vulputate urna.
                </blockquote>
            </div>
        </div>
        <div class="col-lg-6 mb-3  ">
            <div class="testimonial pt-5">
                <h2 class="text-center color">Jecy Deoco</h2>
                <p class="text-center ">Lorem Ipsum</p>
                <img class="thumb" src="../../assets/images/c2.jpg" alt="testimonial">
                <blockquote class=" text-center">
                    <span>&lsquo;&lsquo;</span>Lorem ipsum dolor sit amet, nec tempus mi? Curabitur id nisl mi, ut vulputate urna.
                </blockquote>
            </div>
        </div>
    </div>

    <div class="test-cont mt-4">
        <ul class="test-control">
            <li class="test-controls ml-3"></li>
            <li class="test-controls ml-3"></li>
            <li class="test-controls ml-3"></li>
        </ul>
    </div>
</section>
<section class="footer">
    <div class="container" style="color: white;padding: 0 80px;">
        <div class="row pt-5">
            <div class="col-lg-4">
                <h2 class=" pt-5 mb-0 bold pb-5">Contact <span class="color">Information </span></h2>
                <span class="bold" style="color:rgb(114,115,119);"><i class="fa fa-map-marker"></i></span>
                <p class="bold" style="display:inline; color:rgb(114,115,119);">&nbsp;&nbsp;1234k Avenue, 4th block,</p>
                <p class="bold" style="padding-left: 20px; color:rgb(114,115,119);">New York City.</p>
                <span class="bold" style="color:rgb(114,115,119);"><i class="fa fa-envelope-o"></i></span>
                <p class="bold" style="display:inline; color:rgb(114,115,119);">&nbsp;&nbsp;info@example.com</p>
                <p></p>
                <span class="bold" style="color:rgb(114,115,119);"><i class="fa fa-phone"></i></span>
                <p class="bold" style="display:inline-block; color:rgb(114,115,119);">&nbsp;&nbsp;+1234 567 567</p>
                <div>
                    <button type="button" class="pb-f ml-0 mr-0 btn btn-outline-white" mdbRippleRadius><i class="fa fa-facebook-f" aria-hidden="true"></i></button>
                    <button type="button" class="pb-f ml-0 mr-0 btn btn-outline-white" mdbRippleRadius><i class="fa fa-twitter" aria-hidden="true"></i></button>
                    <button type="button" class="pb-f ml-0 mr-0 btn btn-outline-white" mdbRippleRadius><i class="fa fa-instagram" aria-hidden="true"></i></button>
                    <button type="button" class="pb-f ml-0 mr-0 btn btn-outline-white" mdbRippleRadius><i class="fa fa-google-plus" aria-hidden="true"></i></button>

                </div>

            </div>
            <div class="col-lg-4">
                <h2 class=" pt-5 mb-0 bold pb-5">Subscribe <span class="color">NewsLetter </span></h2>
                <p class="bold" style="color:rgb(114,115,119);">By subscribing to our mailing list you will</p>
                <p class="bold" style="color:rgb(114,115,119);">always get latest news from us.</p>
                <form>
                    <div class="form-row align-items-center">

                        <label class="sr-only pl-2" for="inlineFormInputGroup">Enter your email...</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control pl-2 mt-0" id="inlineFormInputGroup" placeholder="Enter your email...">

                            <div class=" btn-yello input-group-prepend">
                                <div style="color:white;" class="btn-yello input-group-text"><i class="fa fa-envelope-o"></i></div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-lg-4">
                <h2 class=" pt-5 mb-0 bold pb-5">Recent <span class="color">Works </span></h2>
                <div class="row ">
                    <div class="col-4">
                        <img class="mb-3" style="max-width:100%" src="../../assets/images/p2.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="mb-3" style="max-width:100%" src="../../assets/images/p3.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="mb-3" style="max-width:100%" src="../../assets/images/p4.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="mb-3" style="max-width:100%" src="../../assets/images/p5.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="mb-3" style="max-width:100%" src="../../assets/images/p6.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="mb-3" style="max-width:100%" src="../../assets/images/p7.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="mb-3" style="max-width:100%" src="../../assets/images/p8.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="mb-3" style="max-width:100%" src="../../assets/images/p9.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            <a>   © 2017 Beauty Salon. All Rights Reserved | Design by <span style="text-decoration: underline;">w3layouts</span></a>
        </div>
    </div>

</section>